/* https://sandyuraz.com/articles/orgmode-css/ */
html {
    font-family: system-ui;
    font-weight: 300;
}

body {
    margin:40px auto;
    max-width:900px;
    line-height:1.6;
    font-size:16px;
    color:#333;
    padding:0 10px;
    font-family:Inter,sans-serif
}

a {
    color:inherit;
}

a:hover {
    color:#999;
}

h2 {
    margin-top:2em;
}

h1,h2,h3 {
    font-weight: 350;
    line-height:1.2;
}

img {
    width:750px;
    border-radius:10px
}
